<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow">
    <title>Đăng ký</title>
    <link type="text/css" href="{{ url_for('static', filename='css/register_css.css') }}" rel="stylesheet"/>
	<link href="{{ url_for('static', filename='images/logo.ico') }}" rel="shortcut icon">
</head>
<body>
    <div class="main">
		<div class="register-content">
			<div class="register-form">
				<img src="./anh/logo_den.png" alt="OU" id="logo"/>
				<form method="post" class="form-login" id="form-login">
					<div class="form-group" >
						<input type="text" name="name" id="name" placeholder="Họ và tên"/>
					</div>
					<div class="form-group" >
						<input type="text" name="address" id="address" placeholder="Địa chỉ"/>
					</div>
					<div class="form-group" >
						<input type="text" name="phone" id="phone" placeholder="Số điện thoại"/>
					</div>
					<div class="form-group">
						<div class="check">
							<div class="radio">
								<input type="radio" id="male" name="gender" value="Nam">
								<label for="male">Nam</label><br>
								<input type="radio" id="female" name="gender" value="Nữ">
								<label for="female">Nữ</label><br>
								<input type="radio" id="other" name="gender" value="Khác">
								<label for="other">Khác</label>
							</div>
						</div>
						<div class="check">
                  			<input type="date" id="birthday" name="ngaysinh">
						</div>
					</div>

					<div class="form-group" >
						<input type="text" name="username" id="username" placeholder="Tên đăng nhập"/>
					</div>
					<div class="form-group" >
						<input type="password" name="password" id="password" placeholder="Mật khẩu mới"/>
					</div>
					<div class="form-group" >
						<input type="password" name="password_again" id="password_again" placeholder="Nhập lại mật khẩu"/>
					</div>

					<div class="form-group form-button">
						<input type="submit" name="register" id="register" class="form-submit" value="Đăng ký"/>
					</div>
					<div class="form-group sugget-text">
						<div class="text">Bạn đã có tài khoản?</div>
						<div class="link register-link">
							<a href="{{url_for('login')}}">Đăng nhập</a>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>

</body>
</html>